#navul {
	height:100%;
}
#navul ul li {
	display: inline; !important 
	padding: 0px 20px; 
}
.lists {
	padding: 20px 20px;
	display: inline;
	color : red;
}
.list {
	padding: 30px 20px;
	display: inline;
}
.lists:hover {
	background-color: green;
}
a{
	color: white;
}
.footer{
	width:100%;
	background-color: #212121;
}
.banner{
	height:200px;
	width:90%;
	margin: 0px 0px 30px 0px;
}
.banners{
	height: 500px;
	width:100%;
}
/*a:hover{
	color:red;
}*/
.btn{
	background-color: grey;
	color:black;
	margin: 10px;
}
.tble tr td{
	border: 1px solid black;
	padding: 5px;
}
.btn:hover{
	background-color: green;
	color:red;
}
.buttn{
	color:red;
}
.main-content{
	width:100%;
}
.clearfix{
	content:" ";
	clear:both;
	display: block;
}
.content{
	width:90%;
	height: 600px;
}
.form{
	float:left;
	width:100px;
}
.popupbox{
	width:250px;
	height:150px;
	background-color: #98837E;
	z-index: 2;
	position: absolute;
	top: 150px;
	left:300px;
	display: inline;
	text-align: center;
	padding: 3px;
}
.tble{
	border: 1px solid black;
	padding: 5px;
}
